@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi&family=Reggae+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
body {
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  font-family: 'RocknRoll One', sans-serif;
  cursor: -webkit-grab;
  cursor: grab;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.15s all ease-in-out;
  -o-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 1199px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 991px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

.s2 .sofa {
  max-width: 550px;
}

.s2 .sofa img {
  max-width: 100%;
}

.modal {
  position: absolute;
  z-index: 9999;
  background-color: white;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-info {
  text-align: right;
  max-width: 500px;
  padding: 25px;
}

.modal .modal-info h1 {
  font-size: 46px;
  color: #333333;
  position: relative;
}

.modal .modal-info h1 img {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal .modal-info p {
  letter-spacing: 1px;
  line-height: 29px;
  color: #555555;
}

.modal .modal-info input {
  display: block;
  float: right;
  width: 31px;
  height: 31px;
  margin: 0 15px;
}

.modal .modal-info button {
  border: 1px solid transparent;
  font-size: 18px;
  padding: 5px 25px;
  background-color: #0066ff;
  color: whitesmoke;
  outline: none;
  -webkit-box-shadow: 0 0 15px #0066ff;
          box-shadow: 0 0 15px #0066ff;
}

.modal .modal-info button:focus {
  border: 1px dashed #0aa566;
  -webkit-box-shadow: 5px 5px 5px #0066ff;
          box-shadow: 5px 5px 5px #0066ff;
}

.modal .modal-info .progress-bar-modal {
  margin: 25px 0;
  border: 1px solid black;
  width: 100%;
  height: 25px;
  position: relative;
  overflow: hidden;
  display: none;
}

.modal .modal-info .progress-bar-modal.active {
  display: block;
}

.modal .modal-info .progress-bar-modal.active:before {
  -webkit-animation-name: modalProgressBar;
          animation-name: modalProgressBar;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  left: 0;
}

.modal .modal-info .progress-bar-modal.active:after {
  -webkit-animation-name: modalProgressContent;
          animation-name: modalProgressContent;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  content: 'Готово : 100%';
}

.modal .modal-info .progress-bar-modal:before {
  content: '';
  text-align: center;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #0aa566;
}

.modal .modal-info .progress-bar-modal:after {
  content: '0%';
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal .contact {
  max-width: 500px;
  text-align: left;
  padding: 25px;
}

.modal .contact h1 {
  font-size: 46px;
  color: #333333;
  position: relative;
}

.modal .contact h1 img {
  position: absolute;
  top: 50%;
  right: -25%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal .contact h3:nth-child(6) {
  border: none;
  padding: 15px 0;
}

.modal .contact h3:nth-child(6):hover {
  background-color: transparent;
}

.modal .contact h3 {
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px double #333333;
  margin: 5px 0;
}

.modal .contact h3:hover {
  background-color: #D185E6;
}

.modal .contact h3:hover a {
  color: #333333;
}

.modal .contact h3 img {
  display: block;
  max-width: 32px;
  height: auto;
}

.modal .contact h3 a {
  color: #0066ff;
  text-decoration: none;
  margin-left: 15px;
}

@-webkit-keyframes modalProgressContent {
  0% {
    content: 'Старт : 0%';
  }
  15% {
    content: 'Загрузка HTML : 15%';
  }
  20% {
    content: 'Загрузка CSS : 20%';
  }
  50% {
    content: 'Загрузка JS : 50%';
  }
  100% {
    content: 'Готово : 100%';
  }
}

@keyframes modalProgressContent {
  0% {
    content: 'Старт : 0%';
  }
  15% {
    content: 'Загрузка HTML : 15%';
  }
  20% {
    content: 'Загрузка CSS : 20%';
  }
  50% {
    content: 'Загрузка JS : 50%';
  }
  100% {
    content: 'Готово : 100%';
  }
}

@-webkit-keyframes modalProgressBar {
  0% {
    left: -100%;
  }
  15% {
    left: -85%;
  }
  20% {
    left: -80%;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@keyframes modalProgressBar {
  0% {
    left: -100%;
  }
  15% {
    left: -85%;
  }
  20% {
    left: -80%;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 50;
  padding-bottom: 15px;
}

.header.scroll {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-transition: .8s all linear;
  -o-transition: .8s all linear;
  transition: .8s all linear;
  background: #150811;
  background: -o-radial-gradient(circle, rgba(21, 8, 17, 0) 1%, #624f74 50%);
  background: radial-gradient(circle, rgba(21, 8, 17, 0) 1%, #624f74 50%);
}

.header.scroll .language {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px;
}

.header.scroll .menu-1 {
  margin: 0;
  padding: 0;
}

.header .language {
  grid-column: 1/3;
  margin: 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: backInDown;
          animation: backInDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header .language a {
  margin-right: 15px;
}

.header .language a img {
  max-width: 36px;
}

.header .language a img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header .language a:last-child {
  margin-right: 0;
}

.header .logo {
  text-align: left;
  padding-left: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header .logo span {
  color: wheat;
}

.header .logo svg {
  width: 76px;
  height: 76px;
}

.header .logo svg path {
  fill: #4a9174;
  stroke: #ffffff;
  stroke-dasharray: 20px;
}

.header .logo svg path:hover {
  stroke-dasharray: 0;
}

.header .menu-1 {
  grid-column: 1/3;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header .menu-1 .link-1 {
  list-style: none;
  position: relative;
  border-radius: 25px;
  padding: 15px 25px;
}

.header .menu-1 .link-1 a {
  text-align: center;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  /*&:hover {


          span {
            opacity: 0;
          }

          .span-after {
            opacity: 1;
            top: 50%;
            left: 50%;
            padding: 5px 0;
            transform: translateY(-50%) translateX(-50%);
          }
        }*/
}

.header .menu-1 .link-1 a span {
  padding: 5px;
}

.header .menu-1 .link-1 a span:hover {
  cursor: pointer;
}

.header .menu-1 .link-1 a .span-after {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 500%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  cursor: pointer;
}

.header .menu-1 .link-1:hover {
  cursor: pointer;
}

.header .menu-1 .link-1 .menu-2 {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: -25%;
  left: 0;
  z-index: 2;
  text-align: center;
  padding: 0;
  color: #ffffff;
  background-color: #D185E6;
  -webkit-transform: perspective(1000px) rotateX(90deg) rotateY(90deg);
          transform: perspective(1000px) rotateX(90deg) rotateY(90deg);
}

.header .menu-1 .link-1 .menu-2 .link-2 {
  list-style: none;
  padding: 5px 5px;
  position: relative;
  overflow: hidden;
  /*&:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 50%;
            z-index: -1;
            background-color: green;
          }*/
}

.header .menu-1 .link-1:hover {
  background-color: #D185E6;
  /*.menu-2 {
          opacity: 1;
          top: 100%;
          transform: rotateX(0deg);
        }*/
}

.cursor-border {
  border: 3px double  #232323;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  z-index: 9990;
  -webkit-transition: .3s all linear, top .15s, left .15s;
  -o-transition: .3s all linear, top .15s, left .15s;
  transition: .3s all linear, top .15s, left .15s;
  pointer-events: none;
}

.cursor-border .beforeSpan {
  display: block;
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.cursor-border .beforeSpan span {
  position: absolute;
  color: #ffffff;
  letter-spacing: 1.5px;
  font-size: 16px;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.cursor-border.link {
  height: 1px;
  background-color: black;
  border-radius: 0;
}

.cursor-border.hBtn {
  width: 100px !important;
  height: 100px !important;
  background-color: #f7ae3b !important;
}

.cursor-border.hBtn span {
  opacity: 1;
}

.cursor-border.language {
  width: 100px !important;
  height: 100px !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid transparent !important;
}

.cursor-border.itemLan {
  -webkit-transition: .10s all ease;
  -o-transition: .10s all ease;
  transition: .10s all ease;
  width: 25px !important;
  height: 25px !important;
  background-color: rgba(0, 153, 51, 0.5) !important;
  -webkit-box-shadow: 0 0 15px #009933;
          box-shadow: 0 0 15px #009933;
  border: 1px solid transparent !important;
}

.cursor-border.logo {
  width: 150px !important;
  height: 150px !important;
  -webkit-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
  opacity: 0;
}

.cursor-border.slideA {
  background-color: #8D6099 !important;
  -webkit-transition: .1s all ease;
  -o-transition: .1s all ease;
  transition: .1s all ease;
  border-radius: 25px;
}

.cursor-border.slideA .beforeSpan {
  display: block;
  opacity: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.cursor-border.slideA .beforeSpan span {
  position: absolute;
  color: #ffffff;
  letter-spacing: 1.5px;
  font-size: 26px;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.cursor-border.slideA .beforeSpan span img {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.cursor-border.borderProgres:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  top: -6px;
  right: -6px;
  background-color: yellow;
  -webkit-animation-name: broderProggres;
          animation-name: broderProggres;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes animState {
  0% {
  }
  50% {
  }
  100% {
  }
}

@keyframes animState {
  0% {
  }
  50% {
  }
  100% {
  }
}

@-webkit-keyframes broderProggres {
  0% {
    width: 100%;
    height: 5px;
    top: -6px;
    right: -6px;
  }
  12.5% {
    width: 5px;
    height: 5px;
    top: -6px;
    right: -6px;
  }
  25% {
    width: 5px;
    height: 100%;
    top: 0;
    right: -6px;
  }
  37.5% {
    width: 5px;
    height: 5px;
    top: 103%;
    right: -6px;
  }
  50% {
    width: 100%;
    height: 5px;
    top: 103%;
    right: 0;
  }
  62.5% {
    width: 5px;
    height: 5px;
    top: 103%;
    right: 102%;
  }
  75% {
    width: 5px;
    height: 100%;
    top: -5px;
    right: 102%;
  }
  87.5% {
    width: 5px;
    height: 5px;
    top: -5px;
    right: 102%;
  }
  100% {
    width: 100%;
    height: 5px;
    top: -6px;
    right: -6px;
  }
}

@keyframes broderProggres {
  0% {
    width: 100%;
    height: 5px;
    top: -6px;
    right: -6px;
  }
  12.5% {
    width: 5px;
    height: 5px;
    top: -6px;
    right: -6px;
  }
  25% {
    width: 5px;
    height: 100%;
    top: 0;
    right: -6px;
  }
  37.5% {
    width: 5px;
    height: 5px;
    top: 103%;
    right: -6px;
  }
  50% {
    width: 100%;
    height: 5px;
    top: 103%;
    right: 0;
  }
  62.5% {
    width: 5px;
    height: 5px;
    top: 103%;
    right: 102%;
  }
  75% {
    width: 5px;
    height: 100%;
    top: -5px;
    right: 102%;
  }
  87.5% {
    width: 5px;
    height: 5px;
    top: -5px;
    right: 102%;
  }
  100% {
    width: 100%;
    height: 5px;
    top: -6px;
    right: -6px;
  }
}

.navigation {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.navigation .center {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.owl-carousel {
  position: relative;
}

.owl-carousel .item {
  position: relative;
}

.owl-carousel .item a {
  color: #ffffff;
  position: absolute;
  font-size: 46px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-decoration: none;
}

.owl-carousel .item a img {
  padding: 15px;
  background-color: #D185E6;
  border-radius: 25px;
}

.owl-carousel .item a img.borderProgres {
  -webkit-animation: rotateOutDownLeft;
          animation: rotateOutDownLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.owl-carousel .item-one {
  height: 90vh;
  background: center no-repeat url("../img/slide-3.jpg");
  background-size: cover;
}

.owl-carousel .item-two {
  height: 90vh;
  background: center no-repeat url("../img/slide-4.jpg");
  background-size: cover;
}

.owl-carousel .item-three {
  height: 90vh;
  background: center no-repeat url("../img/slide-5.jpg");
  background-size: cover;
}

.owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
  background-color: transparent;
}

.owl-carousel .owl-nav .owl-prev span, .owl-carousel .owl-nav .owl-next span {
  font-size: 56px;
  color: whitesmoke;
  pointer-events: auto;
}

.owl-carousel .owl-nav .owl-prev span:hover, .owl-carousel .owl-nav .owl-next span:hover {
  color: #0aa566;
}

.owl-carousel .owl-nav .owl-prev {
  left: 5%;
}

.owl-carousel .owl-nav .owl-next {
  right: 5%;
}

.owl-carousel .owl-dots {
  position: absolute;
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%) translateX(-2%);
      -ms-transform: translateY(-50%) translateX(-2%);
          transform: translateY(-50%) translateX(-2%);
  z-index: 6;
}

.owl-carousel .owl-dots .owl-dot {
  display: block;
  margin-bottom: 25px;
  padding: 0;
}

.owl-carousel .owl-dots .owl-dot span {
  background-color: #D185E6;
  width: 15px !important;
  height: 15px;
  margin: 0;
  padding: 0;
}

.owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #4a9174;
}

.owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #0aa566;
}

.about {
  display: none;
}

.about .photo {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about .photo .photo__inner:nth-child(1) {
  background: url("../img/Layer_13.png");
  background-size: cover;
}

.about .photo .photo__inner:nth-child(2) {
  background: url("../img/Layer_14.png");
  background-size: cover;
}

.about .photo .photo__inner:nth-child(3) {
  background: url("../img/Layer_15.png");
  background-size: cover;
}

.about .photo .photo__inner:nth-child(4) {
  background: url("../img/Layer_16.png");
  background-size: cover;
}

.about .photo .photo__inner:nth-child(5) {
  background: url("../img/Layer_17.png");
  background-size: cover;
}

.about .photo .photo__inner:nth-child(6) {
  background: url("../img/Layer_18.png");
  background-size: cover;
}

.about .photo .photo__inner {
  position: relative;
  width: 100%;
  height: 500px;
}

.about .photo .photo__inner:hover .after-photo {
  opacity: 1;
  left: 50%;
}

.about .photo .photo__inner .after-photo {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.about .photo .photo__inner .after-photo .after-photo-main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.about .photo .photo__inner .after-photo .after-photo-main h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
}

.about .photo .photo__inner .after-photo .after-photo-main h6 {
  color: #dadada;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 57px;
  text-align: center;
}

.about .photo .photo__inner .after-photo .after-photo-main .after-photo-link {
  margin-top: 50px;
}

.about .photo .photo__inner .after-photo .after-photo-main .after-photo-link a {
  padding: 15px 16px;
  background-color: white;
}

.about .photo .photo__inner .after-photo .after-photo-main .after-photo-link a:hover {
  background-color: #5bc0de;
}

.about__inner h1 {
  color: #222222;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.about__inner p {
  display: block;
  max-width: 739px;
  height: 55px;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: center;
  margin: 0 auto;
}

.about__inner .work-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 15px;
}

.about__inner .work-ico .ico img {
  margin-bottom: 50px;
}

.about__inner .work-ico .ico h3 {
  color: #222222;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.about__inner .work-ico .ico p {
  display: block;
  color: #7c7c7c;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: center;
  padding: 0 15px;
}

.feed-back {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 150px 0;
}

.feed-back .left-feed-back {
  background-color: #5bc0de;
  padding: 50px 0;
}

.feed-back .left-feed-back form {
  width: 570px;
  text-align: right;
  float: right;
  padding-right: 50px;
}

.feed-back .left-feed-back input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #524c90;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27.37px;
  text-align: left;
  font-family: 'RocknRoll One', sans-serif;
  padding: 5px;
}

.feed-back .left-feed-back input::-webkit-input-placeholder {
  color: #666666;
}

.feed-back .left-feed-back input::-moz-placeholder {
  color: #666666;
}

.feed-back .left-feed-back input:-ms-input-placeholder {
  color: #666666;
}

.feed-back .left-feed-back input::-ms-input-placeholder {
  color: #666666;
}

.feed-back .left-feed-back input::placeholder {
  color: #666666;
}

.feed-back .left-feed-back input:focus {
  outline: none;
}

.feed-back .left-feed-back textarea {
  display: block;
  width: 100%;
  resize: vertical;
  min-height: 150px;
  max-height: 250px;
  font-family: 'RocknRoll One', sans-serif;
  border: 1px solid #524c90;
  padding: 5px;
}

.feed-back .left-feed-back textarea::-webkit-input-placeholder {
  color: #666666;
}

.feed-back .left-feed-back textarea::-moz-placeholder {
  color: #666666;
}

.feed-back .left-feed-back textarea:-ms-input-placeholder {
  color: #666666;
}

.feed-back .left-feed-back textarea::-ms-input-placeholder {
  color: #666666;
}

.feed-back .left-feed-back textarea::placeholder {
  color: #666666;
}

.feed-back .left-feed-back textarea:focus {
  outline: none;
}

.feed-back .left-feed-back button {
  width: 200px;
  height: 50px;
  background-color: #3d60f4;
  border: none;
  margin-top: 15px;
}

.feed-back .left-feed-back button:hover {
  cursor: pointer;
}

.feed-back .left-feed-back .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.feed-back .right-feed-back {
  text-align: left;
  padding: 50px;
}

.feed-back .right-feed-back h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 65px;
  text-align: left;
  margin-bottom: 70px;
}

.feed-back .right-feed-back p {
  color: #222222;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: left;
}

.feed-back .right-feed-back h3 {
  margin-top: 80px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.feed-back .right-feed-back .info-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  margin: 15px 0;
}

.feed-back .right-feed-back .info-cont img {
  display: block;
  padding: 15px;
}

.feed-back .right-feed-back .info-cont a {
  text-align: left;
  display: block;
  max-width: 207px;
  color: #666666;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-decoration: none;
}

.dva-blocka {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 150px;
}

.dva-blocka .block-right .right-feed-back {
  text-align: left;
  padding: 50px;
}

.dva-blocka .block-right .right-feed-back h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 65px;
  text-align: left;
  margin-bottom: 70px;
}

.dva-blocka .block-right .right-feed-back p {
  color: #222222;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: left;
}

.dva-blocka .block-right .right-feed-back h3 {
  margin-top: 80px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.dva-blocka .block-right .right-feed-back .info-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  margin: 15px 0;
}

.dva-blocka .block-right .right-feed-back .info-cont img {
  display: block;
  padding: 15px;
}

.dva-blocka .block-right .right-feed-back .info-cont a {
  text-align: left;
  display: block;
  max-width: 207px;
  color: #666666;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-decoration: none;
}

.test {
  max-width: 50%;
  margin: 0 auto;
  /* Стили для секции, с помощью которой можно добавить к форме файлы */
  /* Стили секции, в которой выводится капча */
  /* CSS для секции "Пользовтельское соглашение" */
  /* CSS для индикации полей форме при их валидности */
  /* CSS для индикации полей форме при их не валидности */
  /* CSS для индикатора */
  /* CSS для кнопки submit */
  /* Стили для сообщения об ошибках */
  /* Стили для сообщения об успешной отправки */
}

.test button,
.test select {
  text-transform: none;
}

.test select {
  word-wrap: normal;
}

.test button,
.test [type="button"],
.test [type="reset"],
.test [type="submit"] {
  -webkit-appearance: button;
}

.test button:not(:disabled),
.test [type="button"]:not(:disabled),
.test [type="reset"]:not(:disabled),
.test [type="submit"]:not(:disabled) {
  cursor: pointer;
}

.test button::-moz-focus-inner,
.test [type="button"]::-moz-focus-inner,
.test [type="reset"]::-moz-focus-inner,
.test [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.test input[type="radio"],
.test input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.test input[type="date"],
.test input[type="time"],
.test input[type="datetime-local"],
.test input[type="month"] {
  -webkit-appearance: listbox;
}

.test textarea {
  overflow: auto;
  resize: vertical;
}

.test .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 560px;
}

.test h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.test .form__wrapper {
  position: relative;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.test .form-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

@media (min-width: 576px) {
  .test .form-row > .form-group {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.test .form-group {
  margin-bottom: 1rem;
}

.test .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.test .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.test label {
  display: inline-block;
  margin-bottom: .5rem;
}

.test .invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.test input[type=checkbox],
.test input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.test textarea.form-control {
  overflow: auto;
  resize: vertical;
  height: auto;
}

.test .form-attachments__wrapper {
  position: relative;
  background: #fff;
  border: 3px dashed #ccc;
  border-radius: 5px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
}

.test .form-attachments__wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: pointer;
  display: block;
}

.test .form-attachments__description {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
}

.test .form-attachments__description > :first-child {
  font-weight: 700;
}

.test .form-attachments__description > :last-child {
  color: #6c757d;
  font-size: 0.8125rem;
}

.test .form-attachments__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.test .form-attachments__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  overflow: hidden;
  padding: 4px;
  font-size: 0.75rem;
}

.test .form-attachments__item-wrapper {
  border: 1px solid #e0e0e0;
  background: #f5f5f5;
  padding: 26px 4px;
  border-radius: 4px;
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test .form-attachments__item-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.test .form-attachments__item-name {
  margin-top: auto;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.test .form-attachments__item-size {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px 6px;
  font-weight: bold;
  text-align: right;
}

.test .form-attachments__item-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .375rem 0.5rem;
  color: inherit;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.test .form-attachments__item.is-valid .form-attachments__item-wrapper {
  border-color: #28a745;
  background-color: #f8fcf9;
}

.test .form-attachments__item.is-invalid .form-attachments__item-wrapper {
  border-color: #dc3545;
  background-color: #fefbfb;
}

.test .form-captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.test .form-captcha__image {
  border-radius: 4px;
  margin-right: 0.5rem;
}

.test .form-captcha__refresh {
  padding: 0.5rem 0.75rem;
  line-height: 1;
  border: 1px solid #ced4da;
  margin-right: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.test .form-captcha__refresh:hover {
  background-color: #eee;
}

.test .form-captcha__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  margin-bottom: 0;
}

@media (max-width: 400px) {
  .test .form-captcha {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .test .form-captcha__input {
    min-width: 200px;
    margin-top: 0.5rem;
  }
}

.test .form-captcha__input .invalid-feedback {
  position: absolute;
  bottom: -1.5rem;
}

.test .custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.test .custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.test .custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.test .custom-checkbox .custom-control-label::before {
  border-radius: .25rem;
}

.test .custom-control-label::before {
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.test .custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.test .custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.test .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.test .custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.test .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.test .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.test .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #80bdff;
}

.test .custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.test .form-agreement label {
  font-size: 0.875rem;
}

.test .form-control.is-valid {
  border-color: #28a745;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.test textarea.form-control.is-valid {
  padding-right: calc(1.5em + .75rem);
  background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

.test .form-control.is-valid:focus {
  border-color: #28a745;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.test .form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.test textarea.form-control.is-invalid {
  padding-right: calc(1.5em + .75rem);
  background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

.test .form-control.is-invalid:focus {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.test .form-control.is-invalid ~ .invalid-feedback {
  display: block;
}

.test .progress {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
  margin-bottom: 0.5rem;
}

.test .progress-bar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.test .form-submit {
  text-align: right;
}

.test button[type="submit"] {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: .375rem .75rem .375rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  position: relative;
}

.test button[type="submit"]::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: .5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.333 512'%3E%3Cpath fill='%23fff' d='M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z'/%3E%3C/svg%3E") transparent no-repeat center center;
  background-size: 100% 100%;
}

.test button[type="submit"]:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.test button[type="submit"]:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.test button[type="submit"]:disabled {
  opacity: 0.65;
}

.test .form-error {
  position: relative;
  padding: .5rem 1rem 0.6rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  color: #dc3545;
  background-color: #dc35450d;
  border: 1px solid #dc3545;
}

.test .form-result-success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
  border-radius: 4px;
}

.test .form-result-success > div {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #eff4f1;
  z-index: 1001;
  border-radius: 0;
  color: #28a745;
  background-color: #eff4f1;
}

.test .form-result-success a {
  color: #28a745;
  background-color: transparent;
  font-weight: 700;
}
